PE_DepconConverterBatch/src/main/resources/cedolinodepcon/depcon.def.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://postemissione.noipa.mef.gov.it/parser/autogenerated/cedolino/depcon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://postemissione.noipa.mef.gov.it/parser/autogenerated/cedolino/depcon" xmlns:jrb="http://jrecordbind.dev.java.net/2/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
  
  <xs:complexType name="CedolinoDepcon" >
    <xs:sequence>
      <xs:element name="primaPagina" type="xs:string" fixed="\$CED1\$" jrb:length="6"/>
      <xs:element name="identificativo" type="Identificativo"/>
      <xs:element name="barcode" type="Barcode"/>
      <xs:element name="testataEnte" type="TestataEnte" minOccurs="0"/>
      <xs:element name="datiAnagrafici" type="DatiAnagrafici"/>
      <xs:element name="datiEnteAppartenza" type="EnteAppartenenza"/>
      <xs:element name="posizioneGiuridicoEconomica" type="PosizioneGiuridicoEconomica"/>
      <xs:element name="detrazioni" type="Detrazioni"/>
      <xs:element name="estremiPagamento" type="EstremiPagamento"/>
      <xs:element name="riepilogoRetribuzione" type="RiepilogoRetribuzione" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="totali" type="Totali"/>
      <xs:element name="importiProgressivi" type="ImportiProgressivi" minOccurs="0"/>
      <xs:element name="importiProgressiviME" type="ImportiProgressiviME" minOccurs="0"/>
      <xs:element name="rif" type="RIF" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="npt2" type="NPT" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="secondaPagina" type="CED2" minOccurs="0"/>
      <xs:element name="identificativoPag2" type="IdentificativoPagina" minOccurs="0"/>
      <xs:element name="cov" type="COV" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dettaglioRetribuzione" type="DettaglioRetribuzione" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tfr" type="RIF" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="npt3" type="NPT" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="terzaPagina" type="CED3" minOccurs="0"/>
      <xs:element name="identificativoPag3" type="IdentificativoPagina" minOccurs="0"/>
      <xs:element name="messaggi" type="Messaggio" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
  </xs:complexType>
 
  <xs:complexType name="Identificativo">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed=" IDC" jrb:length="4"/>
        <xs:element name="lingua" type="xs:string" jrb:length="1"/>
        <xs:element name="cedolinoId" type="xs:string" jrb:length="8"/>
        <xs:element name="rata" type="xs:string"/>
      </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Barcode">
    <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" BRC" jrb:length="4"/>
      <xs:element name="barcode" type="xs:string" jrb:length="54"/>
      <xs:element name="scadenza" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <!-- 
  
    <xs:complexType name="BarcodeType">
    <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" BRC" jrb:length="4"/>
      <xs:element name="raggruppamentoUno" type="xs:string" jrb:length="3"/>
      <xs:element name="raggruppamentoDue" type="xs:string" jrb:length="3"/>
      <xs:element name="codiceUfficioServizio" type="xs:string" jrb:length="4"/>
      <xs:element name="cassa" type="xs:string" jrb:length="2"/>
      <xs:element name="progressivoCedolino" type="xs:string" jrb:length="5"/> 
      <xs:element name="numeroPartita" type="xs:string" jrb:length="8"/> 
      <xs:element name="codiceUfficoResponsabile" type="xs:string" jrb:length="3"/> 
      <!- 1 carattere - identificativo del mese di emissione con una lettera da "A" a "N" ->
      <xs:element name="meseEmissione" type="xs:string" jrb:length="1"/> 
      <!- 2 cifre     - ultime due cifre dell'anno ->
      <xs:element name="annoEmissione" type="xs:string" jrb:length="2"/> 
 	  <!- 1 carattere - Tipo stipendio("F"issa, "S"peciale, "A"ccessoria, "7"30, "C"UD) ->
      <xs:element name="tipoCedolino" type="xs:string" jrb:length="1"/> 
 	  <xs:element name="numeroMatricola" type="xs:string" jrb:length="8"/> 
      <!- 1 carattere - identificativo del mese di competenza con una lettera da "A" a "N" ->
      <xs:element name="rataDiCompetenza" type="xs:string" jrb:length="1"/> 
      <!- 1 cifre     - ultima cifra dell'anno di competenza ->
      <xs:element name="annoDiCompetenza" type="xs:string" jrb:length="1"/> 
      <xs:element name="codiceEnte" type="xs:string" jrb:length="4"/> 
 	  <xs:element name="numeroPacco" type="xs:string" jrb:length="2"/> 
	  <xs:element name="numeroEmissioni" type="xs:string" jrb:length="1"/> 
 	  <xs:element name="progressivoEmissione" type="xs:string" jrb:length="2"/> 
 	  <!- 01 o 90 se fuori bilancio ->
 	  <xs:element name="progressivoTipologia" type="xs:string" jrb:length="2"/> 
 	  <!- 1 carattere - flag cessato ("V"igente, "C"essato) ->
 	  <xs:element name="flagCessato" type="xs:string" jrb:length="1"/> 
 	  <xs:element name="dataCessazione" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  
  
   -->
  
  
   <xs:complexType name="TestataEnte">
     <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" DET" jrb:length="4"/>
      <xs:element name="descrizioneEnte" type="xs:string" jrb:length="60"/>
      <xs:element name="indirizzoEnte" type="xs:string"/>
     
     </xs:sequence> 
  </xs:complexType>
  
  
  <xs:complexType name="DatiAnagrafici">
    <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" DAC" jrb:length="4"/>
      <xs:element name="cognome" type="xs:string"  jrb:length="60"/>
      <xs:element name="nome" type="xs:string" jrb:length="60" />
      <xs:element name="codiceFiscale" type="xs:string" jrb:length="16" />
      <xs:element name="dataNascita" type="xs:string" jrb:length="10" />
      <xs:element name="comuneResidenza" type="xs:string" jrb:length="40" />
      <xs:element name="numeroPartita" type="xs:string" jrb:length="8"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EnteAppartenenza">
    <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" DEA" jrb:length="4"/>
      <xs:element name="descrizione" type="xs:string"  jrb:length="60"/>
      <xs:element name="codiceFiscale" type="xs:string" jrb:length="11" />
      <xs:element name="descrizioneUfficoResponsabile" type="xs:string" jrb:length="30" />
      <xs:element name="codiceUfficioServizio" type="xs:string" jrb:length="4" />
      <xs:element name="descrizioneUfficioServizio" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="PosizioneGiuridicoEconomica">
     <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" PGE" jrb:length="4"/>
      <xs:element name="dettaglio" type="xs:string"/>
     </xs:sequence> 
  </xs:complexType>  
  <xs:complexType name="Detrazioni">
     <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" DDC" jrb:length="4"/>
      <xs:element name="dettaglio" type="xs:string"/>
     </xs:sequence> 
  </xs:complexType>

  <xs:complexType name="EstremiPagamento">
   <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" EP1" jrb:length="4"/>
      <xs:element name="dettaglio" type="xs:string"/>
      <xs:element name="recordId2" type="xs:string" fixed=" EP2" jrb:length="4" jrb:row="1"/>
      <xs:element name="indirizzoIstituto" type="xs:string" jrb:row="1" nillable="true"/>
     </xs:sequence>
  </xs:complexType>
 
   <xs:complexType name="RiepilogoRetribuzione">
   <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" DR0" jrb:length="4"/>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="riepilogoRetribuzione" type="RiepilogoRetribuzioneChoice" jrb:row="1" minOccurs="1" maxOccurs="unbounded"/>

    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="RiepilogoRetribuzioneChoice">
   <xs:sequence>
      <xs:choice>
     	 <xs:element name="competenzeFisse" type="CompetenzeFisse" />
     	 <xs:element name="ritenute" type="Ritenute"/>
     	 <xs:element name="riemissionePerStorno" type="RiemissionePerStorno"/>
     	 <xs:element name="competenzeAccessorieConguagli" type="CompetenzeAccessorieConguagli"/>
      </xs:choice>
   </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="CompetenzeFisse">
   <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" DR1" jrb:length="4"/>
      <xs:element name="importo" type="xs:string"  jrb:length="12"/>
      <xs:element name="flagTipo" type="xs:string" jrb:length="1" fixed="P" />
      <xs:element name="descrizione" type="xs:string"/>
   </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Ritenute">
   <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" DR1" jrb:length="4"/>
      <xs:element name="importo" type="xs:string"  jrb:length="12"/>
      <xs:element name="flagTipo" type="xs:string" fixed="N" jrb:length="1" />
      <xs:element name="descrizione" type="xs:string"/>
   </xs:sequence>
  </xs:complexType>
  
    <xs:complexType name="RiemissionePerStorno">
   <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" DR1" jrb:length="4"/>
      <xs:element name="importo" type="xs:string"  jrb:length="12" fixed="        0,00"/>
      <xs:element name="flagTipo" type="xs:string" fixed=" " jrb:length="1" />
      <xs:element name="descrizione" type="xs:string"/>
   </xs:sequence>
  </xs:complexType>
  
  
  
  <xs:complexType name="CompetenzeAccessorieConguagli">
   <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" DR2" jrb:length="4"/>
      <xs:element name="importoNegativo" type="xs:string"  jrb:length="12"/>
      <xs:element name="importoPositivo" type="xs:string"  jrb:length="12"/>
     <xs:element name="descrizione" type="xs:string"/>
   </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="Totali">
   <xs:sequence>
     <xs:element name="recordId" type="xs:string" fixed=" TC0" jrb:length="4"/>
     <xs:element name="totaleRitenute" type="xs:string" jrb:length="12" nillable="true"/>
     <xs:element name="totaleCompetenze" type="xs:string" jrb:length="12" nillable="true"/>
     <xs:element name="totaleNetto" type="xs:string" jrb:length="12" nillable="true"/>
     <xs:element name="quintoCedibile" type="xs:string" nillable="true"/>
   </xs:sequence>
  </xs:complexType>
  
   <xs:complexType name="ImportiProgressivi">
   <xs:sequence>
      <xs:element name="recordId" type="xs:string" fixed=" IP1" jrb:length="4"/>
     <xs:element name="imponibileAC" type="xs:string" jrb:length="12" nillable="true"/>
     <xs:element name="IRPEFAC" type="xs:string" jrb:length="12" nillable="true"/>
     <xs:element name="aliquotaMassima" type="xs:string" jrb:length="12" nillable="true"/>
     <xs:element name="massimaleContrib" type="xs:string" nillable="true"/>
       <xs:element name="recordId2" type="xs:string" fixed=" IP2" jrb:length="4" jrb:row="1"/>
     <xs:element name="imponibileAP" type="xs:string" jrb:length="12" nillable="true" jrb:row="1"/>
     <xs:element name="IRPEFAP" type="xs:string" jrb:length="12" nillable="true" jrb:row="1"/>
      <xs:element name="aliquotaMedia" type="xs:string" jrb:length="12" nillable="true" jrb:row="1"/>
     <xs:element name="imponibileContrib" type="xs:string" nillable="true" jrb:row="1"/>
    </xs:sequence>
  </xs:complexType>
  
  
   <xs:complexType name="ImportiProgressiviME">
    <xs:sequence>
     <xs:element name="recordId3" type="xs:string" fixed=" IP3" jrb:length="4" />
     <xs:element name="imponibileME" type="xs:string" jrb:length="12" nillable="true" />
     <xs:element name="IRPEFME" type="xs:string" jrb:length="12" nillable="true" />
     <xs:element name="aliquotaME" type="xs:string" jrb:length="12" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  
   
    <xs:complexType name="RIF">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed=" RIF" jrb:length="4"/>
        <xs:element name="dettaglioRIF" type="xs:string" />
      </xs:sequence>
  </xs:complexType>
  
    <xs:complexType name="NPT">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed=" NPT" jrb:length="4"/>
        <xs:element name="dettaglioNPT" type="xs:string" />
      </xs:sequence>
  </xs:complexType>
    
    <xs:complexType name="CED2">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed="\$CED2\$" jrb:length="6"/>
      </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IdentificativoPagina">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed=" IDC" jrb:length="4"/>
        <xs:element name="numeroCov" type="xs:string" nillable="true"/>
      </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="COV">
      <xs:sequence>
      	<xs:element name="recordIdCO" type="xs:string" fixed=" CO" jrb:length="3"/>
     	 <xs:element name="recordIdVN" type="xs:string" jrb:length="1"/>
     	 <xs:element name="dettaglioCOV" type="xs:string" />
     </xs:sequence> 
  </xs:complexType>
  
  <xs:complexType name="DettaglioRetribuzione">
      <xs:sequence>
     	<xs:element name="recordId" type="xs:string" fixed=" DR0" jrb:length="4"/>
        <xs:element name="descrizione" type="xs:string" />
        <xs:element name="dettaglioCompetenzaRitenuta" type="DettaglioCompetenzeRitenute" jrb:row="1" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
  </xs:complexType>
  
    <xs:complexType name="DettaglioCompetenzeRitenute">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed=" DR1" jrb:length="4"/>
        <xs:element name="descrizione" type="xs:string" />
        <xs:element name="dettaglioCompetenzaRitenutaChoice" type="DettaglioCompetenzeRitenuteChoice" jrb:row="1" minOccurs="1" maxOccurs="unbounded"/>
       </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DettaglioCompetenzeRitenuteChoice">
   <xs:sequence>
      <xs:choice>
     	 <xs:element name="dettaglioCompetenzaRitenuta" type="DettaglioCompetenzaRitenuta"  maxOccurs="unbounded"/>
     	 <xs:element name="dettaglioAliquota" type="DettaglioAliquota"  maxOccurs="unbounded"/>
     	 <xs:element name="dettaglioAliquotaRitenuta" type="DettaglioAliquotaRitenuta"  maxOccurs="unbounded"/>
      </xs:choice>
   </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DettaglioCompetenzaRitenuta">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed=" DR2" jrb:length="4"/>
        <xs:element name="dettaglio" type="xs:string" />
     </xs:sequence>
  </xs:complexType>
  
    <xs:complexType name="DettaglioAliquota">
      <xs:sequence>
       <xs:element name="recordId" type="xs:string" fixed=" DR3" jrb:length="4"/>
       <xs:element name="dettaglio" type="xs:string" />
     </xs:sequence>
  </xs:complexType>
   <xs:complexType name="DettaglioAliquotaRitenuta">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed=" DR4" jrb:length="4"/>
        <xs:element name="dettaglio" type="xs:string" />
     </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CED3">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed="\$CED3\$" jrb:length="6"/>
      </xs:sequence>
  </xs:complexType>
  
      <xs:complexType name="Messaggio">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed=" ME0" jrb:length="4"/>
        <xs:element name="dettaglio" type="xs:string" />
     </xs:sequence>
  </xs:complexType>
  
  <xs:element name="main" type="CedolinoDepcon" jrb:delimiter="" />
  
  
  
</xs:schema>