PE_DepconConverterBatch/src/main/resources/cuddepcon/depcudcon.def.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://postemissione.noipa.mef.gov.it/parser/autogenerated/cud/depcudcon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://postemissione.noipa.mef.gov.it/parser/autogenerated/cud/depcudcon" xmlns:jrb="http://jrecordbind.dev.java.net/2/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
  
  <xs:complexType name="CudDepcon" >
    <xs:sequence>
      <xs:element name="primaPagina" type="xs:string" fixed="\$CUT1\$|\$CUD1\$" jrb:length="6"/>
      <xs:element name="datiGenerali" type="DatiGenerali"/>
      <xs:element name="datoreLavoro" type="DatoreLavoro"/>
      <xs:element name="anagraficaDipendente" type="AnagraficaDipendente"/>
      <xs:element name="redditi" type="Redditi"/>
      <xs:element name="ritenute" type="Ritenute"/>
      <xs:element name="accontoDichiarante" type="AccontoDichiarante"/>
      <xs:element name="accontoConiuge" type="AccontoConiuge"/>
      <xs:element name="detrazioniCrediti" type="DetrazioniCrediti"/>
      <xs:element name="previdenzaComplementare" type="PrevidenzaComplementare"/>
      <xs:element name="oneriDeducibili" type="OneriDeducibili"/>
      <xs:element name="altriDati" type="AltriDati"/>
      <xs:element name="compensiAnniPrecedenti" type="CompensiAnniPrecedenti"/>
      <xs:element name="trattamentoFineRapporto" type="TrattamentoFineRapporto"/>
      <xs:element name="barcode" type="Barcode"/>
      <xs:element name="secondaPagina" type="CUD2"/>
      <xs:element name="coniugeFamiliariCarico" type="ConiugeFamiliariCarico" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="coniugeFamiliariCaricoDCA" type="ConiugeFamiliariDCA"/>
      <xs:element name="datiPrevidenzialiAssistenziali" type="DatiPrevidenzialiAssistenziali"/>
      <xs:element name="inps" type="Inps"/>
      <xs:element name="inpdap" type="Inpdap"/>
      <xs:element name="certificazioneLavAutonomo" type="CertificazioneLavAutonomo"/>
      <xs:element name="annotazioni" type="Annotazioni" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="firma" type="Firma"/>
      <xs:element name="barcodeSecondaPagina" type="BarcodeSecondaPagina"/>
      <xs:element name="terzaPagina" type="TerzaPagina" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DatiGenerali">
      <xs:sequence>
        <xs:element name="recordDG1" type="xs:string" fixed=" DG1" jrb:length="4"/>
        <xs:element name="dettaglio" type="xs:string" nillable="true"/>
     </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="DatoreLavoro">
    <xs:sequence>
    	
      <xs:element name="recordDG2" type="xs:string" fixed=" DG2" jrb:length="4"/>
      <xs:element name="DG2type" type="xs:string"/>
      <!-- 
      <xs:element name="descrizioneEnte" type="xs:string" jrb:length="69"/>
      <xs:element name="codiceFiscale" type="xs:string"/> 
       -->
      <xs:element name="recordDG3" type="xs:string" fixed=" DG3" jrb:length="4" jrb:row="1"/>
      <xs:element name="indirizzoEnte" type="xs:string" jrb:row="1"/>
       
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AnagraficaDipendente">
    <xs:sequence>
    
      <xs:element name="recordDG4" type="xs:string" fixed=" DG4" jrb:length="4"/>
      <xs:element name="AnagraficaDipendente1" type="xs:string" />
      <!-- <xs:element name="recordDG4" type="xs:string" fixed=" DG4" jrb:length="4"/>
      <xs:element name="codiceFiscale" type="xs:string" jrb:length="16"/>
      <xs:element name="cognome" type="xs:string" jrb:length="35"/>
      <xs:element name="nome" type="xs:string"/> -->
      
      <xs:element name="recordDG5" type="xs:string" fixed=" DG5" jrb:length="4" jrb:row="1"/>
      <xs:element name="AnagraficaDipendente2" type="xs:string" jrb:row="1"/>
      <!-- <xs:element name="recordDG5" type="xs:string" fixed=" DG5" jrb:length="4" jrb:row="1"/>
      <xs:element name="sesso" type="xs:string" jrb:length="1" jrb:row="1"/>
      <xs:element name="dataNascita" type="xs:string" jrb:length="10" jrb:row="1"/>
      <xs:element name="comuneNascita" type="xs:string" jrb:length="40" jrb:row="1"/>
      <xs:element name="SiglaProvinciaNascita" type="xs:string" jrb:length="2" jrb:row="1"/>
      <xs:element name="eventiEccezionali" type="xs:string" jrb:row="1" nillable="true"/> -->
      
      <xs:element name="recordDG6" type="xs:string" fixed=" DG6" jrb:length="4" jrb:row="2"/>
      <xs:element name="AnagraficaDipendente3" type="xs:string" jrb:row="2" />
      <!-- <xs:element name="recordDG6" type="xs:string" fixed=" DG6" jrb:length="4" jrb:row="2"/>
      <xs:element name="domicilioFiscale11AAComune" type="xs:string" jrb:length="40" jrb:row="2"/>
      <xs:element name="domicilioFiscale11AASiglaProvincia" type="xs:string" jrb:length="2" jrb:row="2"/>
      <xs:element name="domicilioFiscale11AACodiceComune" type="xs:string" jrb:length="4" jrb:row="2"/>
      <xs:element name="domicilioFiscale11AAComune1" type="xs:string" jrb:length="40" jrb:row="2" nillable="true"/>
      <xs:element name="domicilioFiscale11AASiglaProvincia1" type="xs:string" jrb:length="2" jrb:row="2" nillable="true"/>
      <xs:element name="domicilioFiscale11AACodiceComune1" type="xs:string" jrb:row="2" jrb:length="4" nillable="true"/> -->
    
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Redditi">
    <xs:sequence>
      <xs:element name="recordDF1" type="xs:string" fixed=" DF1" jrb:length="4"/>
      <xs:element name="redditiLavoroDipendente" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="flagDeterminatoIndeterminato" type="xs:string" jrb:length="1" nillable="true"/>
      <xs:element name="recordDF2" type="xs:string" fixed=" DF2" jrb:length="4" jrb:row="1"/>
      <xs:element name="altriRedditi" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="numGiorniDetrazioniLavDipendente" type="xs:string" jrb:row="1" nillable="true"/>
      </xs:sequence>
  </xs:complexType>
      
  <xs:complexType name="Ritenute">
    <xs:sequence>
      <xs:element name="recordDF3" type="xs:string" fixed=" DF3" jrb:length="4"/>
      <xs:element name="ritenuteIRPEFSopese" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="ritenuteIRPEF" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="recordDF4" type="xs:string" fixed=" DF4" jrb:length="3" jrb:row="1"/>
      <xs:element name="addizionaliRegionaliIRPEF" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="addizionaliComunaliIrpefAcconto20aa" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="addizionaliComunaliIrpefSaldo20aa" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="addizionaliComunaliIrpefAcconto20aa1" type="xs:string" jrb:row="1" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AccontoDichiarante">
    <xs:sequence>
      <xs:element name="recordDF5" type="xs:string" fixed=" DF5" jrb:length="4"/>
      <xs:element name="primoAccontoIRPEFTrat" type="xs:string" jrb:length="13" nillable="true"/> 
      <xs:element name="recordDF6" type="xs:string" fixed=" DF6" jrb:length="4" jrb:row="1"/>
      <xs:element name="secondoAccontoIRPEF" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="accontoIrpefSospesi" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="recordDF7" type="xs:string" fixed=" DF7" jrb:length="4" jrb:row="2"/>
      <xs:element name="accontoAddComunaleIrpef" type="xs:string" jrb:length="13" jrb:row="2" nillable="true"/>
      <xs:element name="accontoAddComunaleIrpefSospesa" type="xs:string" jrb:length="13" jrb:row="2" nillable="true"/>
      <xs:element name="recordDF8" type="xs:string" fixed=" DF8" jrb:length="4" jrb:row="3"/>
      <xs:element name="primaRataAccCedSecca" type="xs:string" jrb:length="13" jrb:row="3" nillable="true"/>
      <xs:element name="secondaRataAccCedSecca" type="xs:string" jrb:row="3" nillable="true"/>
   </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AccontoConiuge">
    <xs:sequence>
      <xs:element name="recordDF9" type="xs:string" fixed=" DF9" jrb:length="4"/>
      <xs:element name="primoAccontoIRPEFTrat" type="xs:string" jrb:length="13" nillable="true"/> 
      <xs:element name="recordDFA" type="xs:string" fixed=" DFA" jrb:length="4" jrb:row="1"/>
      <xs:element name="secondoAccontoIRPEF" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="accontoIrpefSospesi" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="recordDFB" type="xs:string" fixed=" DFB" jrb:length="4" jrb:row="2"/>
      <xs:element name="accontoAddComunaleIrpef" type="xs:string" jrb:length="13" jrb:row="2" nillable="true"/>
      <xs:element name="accontoAddComunaleIrpefSospesa" type="xs:string" jrb:length="13" jrb:row="2" nillable="true"/>
      <xs:element name="recordDFC" type="xs:string" fixed=" DFC" jrb:length="4" jrb:row="3"/>
      <xs:element name="primaRataAccCedSecca" type="xs:string" jrb:length="13" jrb:row="3" nillable="true"/>
      <xs:element name="secondaRataAccCedSecca" type="xs:string" jrb:row="3" nillable="true"/>
   </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DetrazioniCrediti">
    <xs:sequence>
      <xs:element name="recordDFD" type="xs:string" fixed=" DFD" jrb:length="4"/>
      <xs:element name="impostaLorda" type="xs:string" jrb:length="13" nillable="true"/> 
      <xs:element name="detrCarichiFamiglia" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="recordDFE" type="xs:string" fixed=" DFE" jrb:length="4" jrb:row="1"/>
      <xs:element name="detrFamNumerose" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="credNonRicFamNumerose" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="recordDFF" type="xs:string" fixed=" DFF" jrb:length="4" jrb:row="2"/>
      <xs:element name="detrLavDip" type="xs:string" jrb:length="13" jrb:row="2" nillable="true"/>
      <xs:element name="detrCanoniLocazione" type="xs:string" jrb:length="13" jrb:row="2" nillable="true"/>
      <xs:element name="recordDFG" type="xs:string" fixed=" DFG" jrb:length="4" jrb:row="3"/>
      <xs:element name="creditoNonRicCanoniLoc" type="xs:string" jrb:length="13" jrb:row="3" nillable="true"/>
      <xs:element name="totaleDetrazioni" type="xs:string" jrb:length="13" jrb:row="3" nillable="true"/>
      <xs:element name="recordDFH" type="xs:string" fixed=" DFH" jrb:length="4" jrb:row="4"/>
      <xs:element name="codiceBonus" type="xs:string" jrb:length="13" jrb:row="4" nillable="true"/>
      <xs:element name="bonusErogato" type="xs:string" jrb:length="13" jrb:row="4" nillable="true"/>
      <xs:element name="bonusNonErogato" type="xs:string" jrb:row="4" nillable="true"/>
   </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="PrevidenzaComplementare">
    <xs:sequence>
      <xs:element name="recordDFI" type="xs:string" fixed=" DFI" jrb:length="4"/>
      <xs:element name="previdenzaComp" type="xs:string" jrb:length="1" nillable="true"/>
      <xs:element name="contribPrevidenzaComp" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="recordDFL" type="xs:string" fixed=" DFL" jrb:length="4" jrb:row="1"/>
      <xs:element name="contribPrevCompNonDedotti" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="TFRDesinatoFondo" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  
    <xs:complexType name="OneriDeducibili">
    <xs:sequence>
      <xs:element name="recordDFM" type="xs:string" fixed=" DFM" jrb:length="4"/>
      <xs:element name="totaleOneriEsclusiRedditi" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="contribEntiFiniAssistenziali" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AltriDati">
    <xs:sequence>
      <xs:element name="recordDFN" type="xs:string" fixed=" DFN" jrb:length="4"/>
      <xs:element name="dettaglio" type="xs:string" nillable="true"/>
      <xs:element name="recordDFO" type="xs:string" fixed=" DFO" jrb:length="4" jrb:row="1"/>
      <xs:element name="maggioreRitenuta" type="xs:string" jrb:length="1" jrb:row="1" nillable="true"/>
      <xs:element name="casiParticolari" type="xs:string" jrb:length="1" jrb:row="1" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
 
  <xs:complexType name="CompensiAnniPrecedenti">
    <xs:sequence>
      <xs:element name="recordTS1" type="xs:string" fixed=" TS1" jrb:length="4"/>
      <xs:element name="totaleCompArretrati" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="totaleRitenuteOperateSospese" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="totaleRitenuteOperate" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TrattamentoFineRapporto">
    <xs:sequence>
      <xs:element name="recordTS2" type="xs:string" fixed=" TS2" jrb:length="4"/>
      <xs:element name="TS2" type="xs:string" />
      <!-- 
      <xs:element name="indAccErogateAnno" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="accontiAP" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="detrazione" type="xs:string" jrb:length="13" nillable="true"/>
       -->
      
      <xs:element name="recordTS3" type="xs:string" fixed=" TS3" jrb:length="4" jrb:row="1"/>
      <xs:element name="TS3" type="xs:string" jrb:row="1"/>
      
      <!-- 
      <xs:element name="ritenutaOperataAnno" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="filler1" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="filler2" type="xs:string" jrb:length="11" jrb:row="1" nillable="true"/>
      <xs:element name="ritenuteOperateAP" type="xs:string" jrb:row="1" nillable="true"/>
       -->
    </xs:sequence>
    </xs:complexType>
    
  <xs:complexType name="Barcode">
    <xs:sequence>
      <xs:element name="recordBRC" type="xs:string" fixed=" BRC" jrb:length="4"/>
      <xs:element name="barcode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CUD2">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string"/>
      </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ConiugeFamiliariCarico">
    <xs:sequence > 
      <xs:element name="record" type="xs:string" fixed=" DC1| DC2| DC3| DC4| DC5| DC6| DC7| DC8| DC9" jrb:length="4"/>
      <xs:element name="dettaglio" type="xs:string" nillable="true"/>
       </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ConiugeFamiliariDCA">
    <xs:sequence > 
      <xs:element name="recordDCA" type="xs:string" fixed=" DCA" jrb:length="4"/>
      <xs:element name="dettaglio" type="xs:string" nillable="true"/>
       </xs:sequence>
  </xs:complexType>
   
  <xs:complexType name="DatiPrevidenzialiAssistenziali">
    <xs:sequence > 
  		<xs:element name="recordDP1" type="xs:string" fixed=" DP1" jrb:length="4"/>
  		<xs:element name="dettaglio" type="xs:string" nillable="true"/>
      </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Inps">
    <xs:sequence>
      <xs:element name="recordDP2" type="xs:string" fixed=" DP2" jrb:length="4"/>
      <xs:element name="mesiDenunciaTutti" type="xs:string" jrb:length="2" nillable="true"/>
      <xs:element name="mesiDenTuttiEscl" type="xs:string"/>
      
      <xs:element name="recordDP3" type="xs:string" fixed=" DP3" jrb:length="4" jrb:row="1"/>
      <xs:element name="DP3" type="xs:string" jrb:row="1"/>
      <!-- 
      <xs:element name="compCorrisposti" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="compDovuti" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="contribTrattenut" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="contribVersati" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="mesiDenunciaTuttiDP3" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="mesiDenTuttiEsclDP3" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
     -->
     </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Inpdap">
    <xs:sequence>
      <xs:element name="recordDP4" type="xs:string" fixed=" DP4" jrb:length="4"/>
      <xs:element name="DP4" type="xs:string" />
      <!-- 
      <xs:element name="codiceFiscaleAmministrazione" type="xs:string" jrb:length="11" nillable="true"/>
      <xs:element name="codiceIdentSPT" type="xs:string" jrb:length="7" nillable="true"/>
      <xs:element name="pens" type="xs:string" jrb:length="1" nillable="true"/>
      <xs:element name="prev" type="xs:string" jrb:length="4" nillable="true"/>
      <xs:element name="cred" type="xs:string" jrb:length="1" nillable="true"/>
      <xs:element name="enpdep" type="xs:string" jrb:length="1" nillable="true"/>
      <xs:element name="annoRiferimento" type="xs:string" jrb:length="4" nillable="true"/>
      <xs:element name="totImpPensionistico" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="totContribPensionistici" type="xs:string" jrb:length="13" nillable="true"/>
      <xs:element name="totImpTFS" type="xs:string" jrb:length="13" nillable="true"/>
      -->
      
      <xs:element name="recordDP5" type="xs:string" fixed=" DP5" jrb:length="4" jrb:row="1"/>
      <xs:element name="DP5" type="xs:string" jrb:row="1"/>
      <!-- 
      <xs:element name="totContribTFS" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="totImpTFR" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="totContribTFR" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="totImpGestCredito" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="totContribGestCredito" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="totImpENPDEP" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="totContribEnpdep" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
       -->
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CertificazioneLavAutonomo">
    <xs:sequence>
      <xs:element name="recordCL1" type="xs:string" fixed=" CL1" jrb:length="4"/>
      <xs:element name="tipologiaReddituale" type="xs:string" jrb:length="3" nillable="true"/> 
      <xs:element name="recordCL2" type="xs:string" fixed=" CL2" jrb:length="4" jrb:row="1"/>
      <xs:element name="ammontareLordo" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="imponibile" type="xs:string" jrb:length="13" jrb:row="1" nillable="true"/>
      <xs:element name="recordCL3" type="xs:string" fixed=" CL3" jrb:length="4" jrb:row="3"/>
      <xs:element name="ritenuteTitAcconto" type="xs:string" jrb:row="3" nillable="true"/>
   </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Annotazioni">
      <xs:sequence>
        <xs:element name="recordId" type="xs:string" fixed=" AN0" jrb:length="4"/>
        <xs:element name="dettaglio" type="xs:string" />
     </xs:sequence>
  </xs:complexType>
  
   <xs:complexType name="Firma">
    <xs:sequence > 
  		<xs:element name="recordFI0" type="xs:string" fixed=" FI0" jrb:length="4"/>
  		<xs:element name="data" type="xs:string" jrb:length="10"/>
  		<xs:element name="firmaDatoreLavoro" type="xs:string"/>
      </xs:sequence>
  </xs:complexType> 
  
  <xs:complexType name="BarcodeSecondaPagina">
    <xs:sequence>
      <xs:element name="recordBRC" type="xs:string" fixed=" BRC" jrb:length="4"/>
      <xs:element name="barcode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TerzaPagina">
      	<xs:sequence>
      		
	  		<xs:element name="recordId" type="xs:string" fixed="\$5X1" jrb:length="4"/>
	        <xs:element name="codiceFiscaleEnte" type="xs:string" jrb:row="1"/>
	        <xs:element name="codiceFiscale" type="xs:string" jrb:row="2"  />
	        
	  		<xs:element name="datiAnag" type="xs:string" jrb:row="3"/>
	        <xs:element name="datiResidenza" type="xs:string" jrb:row="4"  />
	        
	  		<!-- 
	  		<xs:element name="cognome" type="xs:string" jrb:length="36" jrb:row="3"/>
	        <xs:element name="nome" type="xs:string" jrb:length="37" jrb:row="3"  />
	        <xs:element name="sesso" type="xs:string" jrb:row="3"/>
	        <xs:element name="data" type="xs:string" jrb:length="11" jrb:row="4"  />
	        <xs:element name="comuneResidenza" type="xs:string" jrb:length="32" jrb:row="4"  />
	  		<xs:element name="provinciaResidenza" type="xs:string" jrb:row="4" /> 
	  		-->
  		</xs:sequence> 
  </xs:complexType>
  <!--  AGGIUNGERE EVENTUALMENTE LA PARTE DELLE ISTRUZIONI -->		
  <xs:element name="main" type="CudDepcon" jrb:delimiter="" />
</xs:schema>