PE_DepconConverterBatch/src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


      <xs:element name="Persona" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="codFisc" type="xs:string"/>
            <xs:element name="cognome" type="xs:string"/>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="sesso" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

</xs:schema>