PE_DepconConverterBatch/src/main/resources/cud/definizioneTipiSemplici.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://noipa.mef.gov.it/schema/definizioneTipiSemplici.xsd" targetNamespace="https://noipa.mef.gov.it/schema/definizioneTipiSemplici.xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:simpleType name="TIPO_MESSAGGIO_TYPE">
		<xs:annotation>
			<xs:documentation> tipo messaggio </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation> Puo' assumere i seguenti valori: </xs:documentation>
				<xs:documentation> I = Information </xs:documentation>
				<xs:documentation> W = Warning </xs:documentation>
				<xs:documentation> E = Error </xs:documentation>
				<xs:documentation> S = System </xs:documentation>
			</xs:annotation>
			<xs:length value="1"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="COGNOME_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[A-Z 0-9 ' \s \- . \* /]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NOME_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[A-Z 0-9 ' \s \- . \* /]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FLAG_INTEGER_TYPE">
		<xs:annotation>
			<xs:documentation> Flag integer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:annotation>
				<xs:documentation> Puo' assumere i seguenti valori: </xs:documentation>
				<xs:documentation> 0 </xs:documentation>
				<xs:documentation> 1 </xs:documentation>
			</xs:annotation>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RITENUTA_TYPE">
		<xs:annotation>
			<xs:documentation> codice ritenuta</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation> Puo' assumere i seguenti valori: </xs:documentation>
				<xs:documentation> F = Fisso </xs:documentation>
				<xs:documentation> P = Percentuale </xs:documentation>
			</xs:annotation>
			<xs:length value="1"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FASCIA_TYPE">
		<xs:annotation>
			<xs:documentation> Fascia </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation> Puo' assumere i seguenti valori: </xs:documentation>
				<xs:documentation> A </xs:documentation>
				<xs:documentation> B </xs:documentation>
				<xs:documentation> C </xs:documentation>
			</xs:annotation>
			<xs:length value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Status">
		<xs:annotation>
			<xs:documentation>status esito del servizio valori ammessi OK e KO</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="OK"/>
			<xs:enumeration value="KO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CODICE_FISCALE_TYPE">
		<xs:annotation>
			<xs:documentation>codice fiscale opzionale</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="16"/>
			<xs:pattern value="[A-Z]{6}[0-9]{2}[A-Z]{1}[0-9]{2}[A-Z 0-9]{4}[A-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CODICE_FISCALE_TYPE_OPTIONAL">
		<xs:annotation>
			<xs:documentation> codice fiscale parente</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Z]{6}[0-9]{2}[A-Z]{1}[0-9]{2}[A-Z 0-9]{4}[A-Z]{1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PARTITA_IVA_TYPE">
		<xs:annotation>
			<xs:documentation>partita IVA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CAP_TYPE">
		<xs:annotation>
			<xs:documentation>codice avviamento postale</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="COD_TYPE">
		<xs:annotation>
			<xs:documentation>codice di 4 cifre con zeri non significativi</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INTERO1_TYPE">
		<xs:annotation>
			<xs:documentation>numero intero con un massimo di 1 cifra (senza decimali)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INTERO2_TYPE">
		<xs:annotation>
			<xs:documentation>numero intero con un massimo di 2 cifre (senza decimali)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INTERO3_TYPE">
		<xs:annotation>
			<xs:documentation>numero intero con un massimo di 3 cifre (senza decimali)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INTERO4_TYPE">
		<xs:annotation>
			<xs:documentation>numero intero con un massimo di 4 cifre (senza decimali)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INTERO5_TYPE">
		<xs:annotation>
			<xs:documentation>numero intero con un massimo di 4 cifre (senza decimali)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INTERO6_TYPE">
		<xs:annotation>
			<xs:documentation>numero intero con un massimo di 6 cifre (senza decimali)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INTERO8_TYPE">
		<xs:annotation>
			<xs:documentation>numero intero con un massimo di 8 cifre (senza decimali)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMPORTO4_2_TYPE">
		<xs:annotation>
			<xs:documentation>numero decimale con massimo 4 cifre intere e 2 decimali</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMPORTO14_2_TYPE">
		<xs:annotation>
			<xs:documentation>numero decimale con massimo 14 cifre intere e 2 decimali</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMPORTO15_2_TYPE">
		<xs:annotation>
			<xs:documentation>numero decimale con massimo 15 cifre intere e 2 decimali</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA1_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 1 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA2_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 2 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA3_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 3 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA4_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 4 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA5_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 4 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA6_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 6 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA8_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[A-Z 0-9 ' \s \- . \* /]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA10_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 10 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA11_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 11 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA12_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 12 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA15_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 15 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA16_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 16 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA18_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 18 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA20_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 20 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA30_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 30 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA40_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 40 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA50_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 50 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA60_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 60 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA80_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 80 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA100_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 100 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA150_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 150 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA240_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 240 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="240"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA200_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 200 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA500_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 500 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DATA_TYPE">
		<xs:annotation>
			<xs:documentation>data nel formato GG/MM/AAAA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}[/]{1}[0-9]{2}[/]{1}[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DATA_TYPE_OPTIONAL">
		<xs:annotation>
			<xs:documentation> data  nel formato GG/MM/AAAA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{2}[/]{1}[0-9]{2}[/]{1}[0-9]{4}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DATAORA_TYPE">
		<xs:annotation>
			<xs:documentation>data ora nel formato GG/MM/AAAA HH:MM:SS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}[/]{1}[0-9]{2}[/]{1}[0-9]{4}[ ]{1}[0-9]{2}[:]{1}[0-9]{2}[:]{1}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RATA_TYPE">
		<xs:annotation>
			<xs:documentation>rata nel formato AAAAMM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RATA_TYPE_OPTIONAL">
		<xs:annotation>
			<xs:documentation>rata nel formato AAAAMM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{6}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SESSO_TYPE">
		<xs:annotation>
			<xs:documentation>possibili valori per il sesso della persona: M, F</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ESITO_TYPE">
		<xs:annotation>
			<xs:documentation>esito dell operazione</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="KO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PROVINCIA_TYPE">
		<xs:annotation>
			<xs:documentation>codice provincia</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="COMUNE_TYPE">
		<xs:annotation>
			<xs:documentation>codice comune</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PERCENTUALE_TYPE">
		<xs:annotation>
			<xs:documentation>percentuale intera (0-100)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIPOLOGIA_INDIRIZZO_TYPE">
		<xs:annotation>
			<xs:documentation>
			possibili valori per la tipologia di un indirizzo
			D domicilio
			R residenza
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="R"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIPO_PARTITA_TYPE">
		<xs:annotation>
			<xs:documentation>partita principale o secondaria</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISCRIZIONE_TYPE">
		<xs:annotation>
			<xs:documentation>Numero di matricola In ambito SPT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SI_NO_TYPE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INSERT_DELETE_TYPE">
		<xs:annotation>
			<xs:documentation>Tipo operazione </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation> Puo' assumere i seguenti valori: </xs:documentation>
				<xs:documentation> I = Inserisci </xs:documentation>
				<xs:documentation> C = Cancella </xs:documentation>
			</xs:annotation>
			<xs:length value="1"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIPO_PAGAMENTO">
		<xs:annotation>
			<xs:documentation>Tipo pagamento</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation> Puo' assumere i seguenti valori: </xs:documentation>
				<xs:documentation> A = Accessorie </xs:documentation>
				<xs:documentation> F = Fisse e accessorie </xs:documentation>
			</xs:annotation>
			<xs:length value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PERCENTUALE_32">
		<xs:annotation>
			<xs:documentation>percentuale 2 cifre decimali</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBAN">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="27"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBAN_TYPE">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="27"/>
			<xs:pattern value="IT\d{2}[a-zA-Z]\d{10}[a-zA-Z0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GIORNO_TYPE">
		<xs:annotation>
			<xs:documentation>numero intero con un massimo di 2 cifre (senza decimali)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
			<xs:minInclusive value="01"/>
			<xs:maxInclusive value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRINGA300_TYPE">
		<xs:annotation>
			<xs:documentation>stringa con un massimo di 300 caratteri</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMAIL_TYPE">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CODICE_REGIONE_TYPE">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation> Puo' assumere i seguenti valori: </xs:documentation>
				<xs:documentation> 01 PIEMONTE</xs:documentation>
				<xs:documentation> 02	VALLE D'AOSTA</xs:documentation>
				<xs:documentation> 03	LOMBARDIA</xs:documentation>
				<xs:documentation> 04	VENETO</xs:documentation>
				<xs:documentation> 05	FRIULI-VENEZIA GIULIA</xs:documentation>
				<xs:documentation> 06	LIGURIA</xs:documentation>
				<xs:documentation> 07	EMILIA ROMAGNA</xs:documentation>
				<xs:documentation> 08	TOSCANA</xs:documentation>
				<xs:documentation> 09	UMBRIA </xs:documentation>
				<xs:documentation> 10	MARCHE</xs:documentation>
				<xs:documentation> 11	LAZIO</xs:documentation>
				<xs:documentation> 12	ABRUZZO</xs:documentation>
				<xs:documentation> 13	MOLISE</xs:documentation>
				<xs:documentation> 14	CAMPANIA</xs:documentation>
				<xs:documentation> 15	PUGLIA</xs:documentation>
				<xs:documentation> 16	BASILICATA</xs:documentation>
				<xs:documentation> 17	CALABRIA</xs:documentation>
				<xs:documentation> 18	SICILIA</xs:documentation>
				<xs:documentation> 19	SARDEGNA</xs:documentation>
				<xs:documentation> 20	PROVINCIA AUT. TRENTO</xs:documentation>
				<xs:documentation> 21	PROVINCIA AUT. BOLZANO</xs:documentation>
				<xs:documentation> 99	ESTERO</xs:documentation>
			</xs:annotation>
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RataType">
		<xs:annotation>
			<xs:documentation>Rata nel formato anno mese (AAAAMM)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AnagraficaType">
		<xs:sequence>
			<xs:element name="cognome" type="String50Type" minOccurs="0"/>
			<xs:element name="nome" type="String50Type" minOccurs="0"/>
			<xs:element name="dataNascita" type="DATA_TYPE" minOccurs="0"/>
			<xs:element name="domicilio_fiscale" type="STRINGA80_TYPE" minOccurs="0"/>
			<xs:element name="matricola" type="MatricolaType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="CodFiscaleAmministrato" type="CodiceFiscaleType" />
	</xs:complexType>
	<xs:simpleType name="String50Type">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String100Type">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String200Type">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CapType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IndirizzoType">
		<xs:sequence>
			<xs:element name="indirizzo" type="String200Type"/>
			<xs:element name="civico" type="xs:string"/>
			<!-- Non presente in base dati -->
			<xs:element name="comune" type="String100Type"/>
			<!-- Presente in base dati come codice catastale -->
			<xs:element name="provincia" type="xs:string"/>
			<!-- Non presente in base dati -->
			<xs:element name="cap" type="CapType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CodiceFiscaleType">
		<xs:annotation>
			<xs:documentation>Codice fiscale sia di persona fisica che di soggetto giuridico</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6}[0-9]{2}[A-Z]{1}[0-9]{2}[A-Z 0-9]{4}[A-Z]{1}"/>
			<xs:pattern value="[0-9]{11}"/>
			<!-- Sostituire con quello di AdE -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IscrizioneType">
		<xs:annotation>
			<xs:documentation>Partita stipendiale della persona in SPT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MatricolaType">
		<xs:annotation>
			<xs:documentation>Matricola della persona nell'ente di appartenenza</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- Partita stipendiale -->
				<xs:element name="iscrizione" type="IscrizioneType" minOccurs="0"/>
				<xs:element name="matricola" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DettaglioImporto">
		<xs:annotation>
			<xs:documentation>Riga di dettaglio Competenze/Ritenute sul riepilogo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="descrizione" type="xs:string"/>
			<xs:element name="importo" type="xs:string"/>
			<xs:element name="codice" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DettaglioAliquota">
		<xs:annotation>
			<xs:documentation>Riga di dettaglio Competenze/Ritenute sul riepilogo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="descrizione" type="xs:string"/>
			<xs:element name="importo" type="xs:string"/>
			<xs:element name="imponibile" type="xs:string"/>
			<xs:element name="aliquota" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="DomicilioFiscale">
		<xs:sequence>
			<xs:element name="cod_comune" type="xs:string"  minOccurs="0"/>
			<xs:element name="comune" type="xs:string" minOccurs="0"/>
			<xs:element name="sigla_prov" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AccontiAP">
		<xs:sequence>
			
			<xs:element name="primo_acc_Irpef_tratt" type="xs:string" minOccurs="0"/>
			<xs:element name="secondo_acc._Irpef" type="xs:string" minOccurs="0"/>
			<xs:element name="acc_IRPEF_sospesi" type="xs:string" minOccurs="0"/>
			<xs:element name="acc_addComunale_Irpef" type="xs:string" minOccurs="0"/>
			<xs:element name="acc_addComunale_Irpef_sosp" type="xs:string" minOccurs="0"/>
			<xs:element name="prima_rata_acc_cedSecca" type="xs:string" minOccurs="0"/>
			<xs:element name="seconda_rata_acc_cedSecca" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ConiugeFamiliariCaricoType">
		<xs:sequence>
			
			<xs:element name="figlio" type="xs:string" minOccurs="0"/>
			<xs:element name="altro_familiare" type="xs:string" minOccurs="0"/>
			<xs:element name="figlio_disabile" type="xs:string" minOccurs="0"/>
			<xs:element name="cod_fiscale" type="xs:string" minOccurs="0"/>
			<xs:element name="num_mesi_carico" type="xs:string" minOccurs="0"/>
			<xs:element name="min_3anni" type="xs:string" minOccurs="0"/>
			<xs:element name="perc_detrazione_spettante" type="xs:string" minOccurs="0"/>
			<xs:element name="detrazione_totale" type="xs:string" minOccurs="0"/>
			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AnnotazioniType">
		<xs:sequence>
			<xs:element name="riga1" type="xs:string" minOccurs="0"/>
			<xs:element name="riga2" type="xs:string" minOccurs="0"/>
			<xs:element name="riga3" type="xs:string" minOccurs="0"/>
			<xs:element name="riga4" type="xs:string" minOccurs="0"/>
			<xs:element name="riga5" type="xs:string" minOccurs="0"/>
			<xs:element name="riga6" type="xs:string" minOccurs="0"/>
			<xs:element name="riga7" type="xs:string" minOccurs="0"/>
			<xs:element name="riga8" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DenunciaUniemens">
		<xs:sequence>
			<xs:element name="mesi_tutti" type="xs:string" minOccurs="0"/>
			<xs:element name="mesi_esclusi" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TotaliINPDAP">
		<xs:sequence>
			<xs:element name="totale_imponibile" type="xs:string" minOccurs="0"/>
			<xs:element name="totale_contributi" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="LINGUA_TYPE">
		<xs:annotation>
			<xs:documentation> sigla lingua cedolino</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation> Puo' assumere i seguenti valori: </xs:documentation>
				<xs:documentation> I = Italiano </xs:documentation>
				<xs:documentation> T = Tedesco </xs:documentation>
				<xs:documentation> F = Francese </xs:documentation>
				<xs:documentation> S = Sloveno </xs:documentation>
			</xs:annotation>
			<xs:length value="1"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
